In [52]:

#importing necessary libraries
import pandas as pd
import numpy as np

In [44]:
df_match = pd.read_csv('/content/IPL_Match_Summary.csv')
df_match.head(10)

,Match No.,Match,Stadium,Winner,Margin,Date,Unnamed: 6
0,1st,GUJARAT TITANS vs CHENNAI SUPER KINGS,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,5 wkts,Mar 31,NaN
1,2nd,PUNJAB KINGS vs KOLKATA KNIGHT RIDERS,"Punjab Cricket Association IS Bindra Stadium, ...",Punjab Kings,7 runs,Apr 01,NaN
2,3rd,LUCKNOW SUPER GIANTS vs DELHI CAPITALS,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,50 runs,Apr 01,NaN
3,4th,SUNRISERS HYDERABAD vs RAJASTHAN ROYALS,"Rajiv Gandhi International Stadium, Hyderabad",Rajasthan Royals,72 runs,Apr 02,NaN
4,5th,ROYAL CHALLENGERS BANGALORE vs MUMBAI INDIANS,"M.Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,8 wkts,Apr 02,NaN
5,6th,CHENNAI SUPER KINGS vs LUCKNOW SUPER GIANTS,"MA Chidambaram Stadium, Chennai",Chennai Super Kings,12 runs,Apr 03,NaN
6,7th,DELHI CAPITALS vs GUJARAT TITANS,"Arun Jaitley Stadium, Delhi",Gujarat Titans,6 wkts,Apr 04,NaN
7,8th,RAJASTHAN ROYALS vs PUNJAB KINGS,"Barsapara Cricket Stadium, Guwahati",Punjab Kings,5 runs,Apr 05,NaN
8,9th,KOLKATA KNIGHT RIDERS vs ROYAL CHALLENGERS BAN...,"Eden Gardens, Kolkata",Kolkata Knight Riders,81 runs,Apr 06,NaN
9,10th,LUCKNOW SUPER GIANTS vs SUNRISERS HYDERABAD,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,5 wkts,Apr 07,NaN

In [45]:
df_match = df_match.drop(df_match.columns[-1],axis=1)
df_match.head()

,Match No.,Match,Stadium,Winner,Margin,Date
0,1st,GUJARAT TITANS vs CHENNAI SUPER KINGS,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,5 wkts,Mar 31
1,2nd,PUNJAB KINGS vs KOLKATA KNIGHT RIDERS,"Punjab Cricket Association IS Bindra Stadium, ...",Punjab Kings,7 runs,Apr 01
2,3rd,LUCKNOW SUPER GIANTS vs DELHI CAPITALS,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,50 runs,Apr 01
3,4th,SUNRISERS HYDERABAD vs RAJASTHAN ROYALS,"Rajiv Gandhi International Stadium, Hyderabad",Rajasthan Royals,72 runs,Apr 02
4,5th,ROYAL CHALLENGERS BANGALORE vs MUMBAI INDIANS,"M.Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,8 wkts,Apr 02

In [46]:
df_match.rename({'Match No.':'Match_id'}, axis=1, inplace = True)
df_match.head()

,Match_id,Match,Stadium,Winner,Margin,Date
0,1st,GUJARAT TITANS vs CHENNAI SUPER KINGS,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,5 wkts,Mar 31
1,2nd,PUNJAB KINGS vs KOLKATA KNIGHT RIDERS,"Punjab Cricket Association IS Bindra Stadium, ...",Punjab Kings,7 runs,Apr 01
2,3rd,LUCKNOW SUPER GIANTS vs DELHI CAPITALS,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,50 runs,Apr 01
3,4th,SUNRISERS HYDERABAD vs RAJASTHAN ROYALS,"Rajiv Gandhi International Stadium, Hyderabad",Rajasthan Royals,72 runs,Apr 02
4,5th,ROYAL CHALLENGERS BANGALORE vs MUMBAI INDIANS,"M.Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,8 wkts,Apr 02

In [47]:
df_match['Match_id'] = df_match['Match_id'].replace(['Qualifier1', 'Qualifier2'], 'Qualifier')
df_match['Margin'] = df_match['Margin'].fillna('No result')
df_match.tail(30)

,Match_id,Match,Stadium,Winner,Margin,Date
44,45th,LUCKNOW SUPER GIANTS vs CHENNAI SUPER KINGS,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,No result,No result,May 03
45,46th,PUNJAB KINGS vs MUMBAI INDIANS,"Punjab Cricket Association IS Bindra Stadium, ...",Mumbai Indians,6 wkts,May 03
46,47th,SUNRISERS HYDERABAD vs KOLKATA KNIGHT RIDERS,"Rajiv Gandhi International Stadium, Hyderabad",Kolkata Knight Riders,5 runs,May 04
47,48th,RAJASTHAN ROYALS vs GUJARAT TITANS,"Sawai Mansingh Stadium, Jaipur",Gujarat Titans,9 wkts,May 05
48,49th,CHENNAI SUPER KINGS vs MUMBAI INDIANS,"MA Chidambaram Stadium, Chennai",Chennai Super Kings,6 wkts,May 06
49,50th,DELHI CAPITALS vs ROYAL CHALLENGERS BANGALORE,"Arun Jaitley Stadium, Delhi",Delhi Capitals,7 wkts,May 06
50,51st,GUJARAT TITANS vs LUCKNOW SUPER GIANTS,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,56 runs,May 07
51,52nd,RAJASTHAN ROYALS vs SUNRISERS HYDERABAD,"Sawai Mansingh Stadium, Jaipur",Sunrisers Hyderabad,4 wkts,May 07
52,53rd,KOLKATA KNIGHT RIDERS vs PUNJAB KINGS,"Eden Gardens, Kolkata",Kolkata Knight Riders,5 wkts,May 08
53,54th,MUMBAI INDIANS vs ROYAL CHALLENGERS BANGALORE,"Wankhede Stadium, Mumbai",Mumbai Indians,6 wkts,May 09
54,55th,CHENNAI SUPER KINGS vs DELHI CAPITALS,"MA Chidambaram Stadium, Chennai",Chennai Super Kings,27 runs,May 10
55,56th,KOLKATA KNIGHT RIDERS vs RAJASTHAN ROYALS,"Eden Gardens, Kolkata",Rajasthan Royals,9 wkts,May 11
56,57th,MUMBAI INDIANS vs GUJARAT TITANS,"Wankhede Stadium, Mumbai",Mumbai Indians,27 runs,May 12
57,58th,SUNRISERS HYDERABAD vs LUCKNOW SUPER GIANTS,"Rajiv Gandhi International Stadium, Hyderabad",Lucknow Super Giants,7 wkts,May 13
58,59th,DELHI CAPITALS vs PUNJAB KINGS,"Arun Jaitley Stadium, Delhi",Punjab Kings,31 runs,May 13
59,60th,RAJASTHAN ROYALS vs ROYAL CHALLENGERS BANGALORE,"Sawai Mansingh Stadium, Jaipur",Royal Challengers Bangalore,112 runs,May 14
60,61st,CHENNAI SUPER KINGS vs KOLKATA KNIGHT RIDERS,"MA Chidambaram Stadium, Chennai",Kolkata Knight Riders,6 wkts,May 14
61,62nd,GUJARAT TITANS vs SUNRISERS HYDERABAD,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,34 runs,May 15
62,63rd,LUCKNOW SUPER GIANTS vs MUMBAI INDIANS,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,5 runs,May 16
63,64th,PUNJAB KINGS vs DELHI CAPITALS,"Himachal Pradesh Cricket Association Stadium, ...",Delhi Capitals,15 runs,May 17
64,65th,SUNRISERS HYDERABAD vs ROYAL CHALLENGERS BANGA...,"Rajiv Gandhi International Stadium, Hyderabad",Royal Challengers Bangalore,8 wkts,May 18
65,66th,PUNJAB KINGS vs RAJASTHAN ROYALS,"Himachal Pradesh Cricket Association Stadium, ...",Rajasthan Royals,4 wkts,May 19
66,67th,DELHI CAPITALS vs CHENNAI SUPER KINGS,"Arun Jaitley Stadium, Delhi",Chennai Super Kings,77 runs,May 20
67,68th,KOLKATA KNIGHT RIDERS vs LUCKNOW SUPER GIANTS,"Eden Gardens, Kolkata",Lucknow Super Giants,1 run,May 20
68,69th,MUMBAI INDIANS vs SUNRISERS HYDERABAD,"Wankhede Stadium, Mumbai",Mumbai Indians,8 wkts,May 21
69,70th,ROYAL CHALLENGERS BANGALORE vs GUJARAT TITANS,"M.Chinnaswamy Stadium, Bengaluru",Gujarat Titans,6 wkts,May 21
70,Qualifier,GUJARAT TITANS vs CHENNAI SUPER KINGS,"MA Chidambaram Stadium, Chennai",Chennai Super Kings,15 runs,May 23
71,Eliminator,LUCKNOW SUPER GIANTS vs MUMBAI INDIANS,"MA Chidambaram Stadium, Chennai",Mumbai Indians,81 runs,May 24
72,Qualifier,GUJARAT TITANS vs MUMBAI INDIANS,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,62 runs,May 26
73,Final,CHENNAI SUPER KINGS vs GUJARAT TITANS,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,5 wkts,May 29

In [53]:
df_batting = pd.read_csv('/content/IPL_Batting_Scorecard.csv')
df_batting.head(5)

,Batsman Name,Batting Pos,selection1_batsmen_Out_NotOut,selection1_batsmen_Runs,selection1_batsmen_Balls,selection1_batsmen_Fours,selection1_batsmen_Sixes,selection1_batsmen_Strike_Rate,selection1_batsmen_Team,selection1_batsmen_Match_No,Ground,Date
0,Devon Conway,1,b Mohammed Shami,1,6.0,0.0,0.0,16.66,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
1,Ruturaj Gaikwad,2,c Shubman Gill b Joseph,92,50.0,4.0,9.0,184,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
2,Moeen Ali,3,c †Saha b Rashid Khan,23,17.0,4.0,1.0,135.29,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
3,Ben Stokes,4,c †Saha b Rashid Khan,7,6.0,1.0,0.0,116.66,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
4,Ambati Rayudu,5,b Little,12,12.0,0.0,1.0,100,Chennai Super Kings,1st Match (N),Ahmedabad,March 31

In [54]:

df_batting.rename({'Batsman Name':'batsmen', 'selection1_batsmen_Out_NotOut':'out_notout','selection1_batsmen_Runs':'runs', 'selection1_batsmen_Balls':'balls', 'selection1_batsmen_Fours':'fours', 'selection1_batsmen_Sixes':'sixes', 'selection1_batsmen_Strike_Rate':'sr', 'selection1_batsmen_Team':'team', 'selection1_batsmen_Match_No':'Match_id' }, axis=1, inplace = True)
df_batting.head(20)

,batsmen,Batting Pos,out_notout,runs,balls,fours,sixes,sr,team,Match_id,Ground,Date
0,Devon Conway,1,b Mohammed Shami,1,6.0,0.0,0.0,16.66,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
1,Ruturaj Gaikwad,2,c Shubman Gill b Joseph,92,50.0,4.0,9.0,184,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
2,Moeen Ali,3,c †Saha b Rashid Khan,23,17.0,4.0,1.0,135.29,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
3,Ben Stokes,4,c †Saha b Rashid Khan,7,6.0,1.0,0.0,116.66,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
4,Ambati Rayudu,5,b Little,12,12.0,0.0,1.0,100,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
5,Shivam Dube,6,c Rashid Khan b Mohammed Shami,19,18.0,0.0,1.0,105.55,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
6,Ravindra Jadeja,7,c Shankar b Joseph,1,2.0,0.0,0.0,50,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
7,MS Dhoni (c)†,8,not out,14,7.0,1.0,1.0,200,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
8,Mitchell Santner,9,not out,1,3.0,0.0,0.0,33.33,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
9,Wriddhiman Saha †,1,c Dube b Hangargekar,25,16.0,2.0,2.0,156.25,Gujarat Titans,1st Match (N),Ahmedabad,March 31
10,Shubman Gill,2,c Gaikwad b Deshpande,63,36.0,6.0,3.0,175,Gujarat Titans,1st Match (N),Ahmedabad,March 31
11,Sai Sudharsan,3,c †Dhoni b Hangargekar,22,17.0,3.0,0.0,129.41,Gujarat Titans,1st Match (N),Ahmedabad,March 31
12,Hardik Pandya (c),4,b Jadeja,8,11.0,0.0,0.0,72.72,Gujarat Titans,1st Match (N),Ahmedabad,March 31
13,Vijay Shankar,5,c Santner b Hangargekar,27,21.0,2.0,1.0,128.57,Gujarat Titans,1st Match (N),Ahmedabad,March 31
14,Rahul Tewatia,6,not out,15,14.0,1.0,1.0,107.14,Gujarat Titans,1st Match (N),Ahmedabad,March 31
15,Rashid Khan,7,not out,10,3.0,1.0,1.0,333.33,Gujarat Titans,1st Match (N),Ahmedabad,March 31
16,Prabhsimran Singh,1,c †Rahmanullah Gurbaz b Southee,23,12.0,2.0,2.0,191.66,Punjab Kings,2nd Match (D/N),Mohali,April 01
17,Shikhar Dhawan (c),2,b Varun,40,29.0,6.0,0.0,137.93,Punjab Kings,2nd Match (D/N),Mohali,April 01
18,Bhanuka Rajapaksa,3,c Singh b Yadav,50,32.0,5.0,2.0,156.25,Punjab Kings,2nd Match (D/N),Mohali,April 01
19,Jitesh Sharma †,4,c Yadav b Southee,21,11.0,1.0,2.0,190.9,Punjab Kings,2nd Match (D/N),Mohali,April 01

In [55]:
to_drop = df_batting[df_batting['runs'].str.contains('Did not bat:', na=False)].index
df_batting = df_batting.drop(to_drop)
df_batting = df_batting.reset_index(drop=True)
df_batting.head(20)

,batsmen,Batting Pos,out_notout,runs,balls,fours,sixes,sr,team,Match_id,Ground,Date
0,Devon Conway,1,b Mohammed Shami,1,6.0,0.0,0.0,16.66,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
1,Ruturaj Gaikwad,2,c Shubman Gill b Joseph,92,50.0,4.0,9.0,184,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
2,Moeen Ali,3,c †Saha b Rashid Khan,23,17.0,4.0,1.0,135.29,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
3,Ben Stokes,4,c †Saha b Rashid Khan,7,6.0,1.0,0.0,116.66,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
4,Ambati Rayudu,5,b Little,12,12.0,0.0,1.0,100,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
5,Shivam Dube,6,c Rashid Khan b Mohammed Shami,19,18.0,0.0,1.0,105.55,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
6,Ravindra Jadeja,7,c Shankar b Joseph,1,2.0,0.0,0.0,50,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
7,MS Dhoni (c)†,8,not out,14,7.0,1.0,1.0,200,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
8,Mitchell Santner,9,not out,1,3.0,0.0,0.0,33.33,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
9,Wriddhiman Saha †,1,c Dube b Hangargekar,25,16.0,2.0,2.0,156.25,Gujarat Titans,1st Match (N),Ahmedabad,March 31
10,Shubman Gill,2,c Gaikwad b Deshpande,63,36.0,6.0,3.0,175,Gujarat Titans,1st Match (N),Ahmedabad,March 31
11,Sai Sudharsan,3,c †Dhoni b Hangargekar,22,17.0,3.0,0.0,129.41,Gujarat Titans,1st Match (N),Ahmedabad,March 31
12,Hardik Pandya (c),4,b Jadeja,8,11.0,0.0,0.0,72.72,Gujarat Titans,1st Match (N),Ahmedabad,March 31
13,Vijay Shankar,5,c Santner b Hangargekar,27,21.0,2.0,1.0,128.57,Gujarat Titans,1st Match (N),Ahmedabad,March 31
14,Rahul Tewatia,6,not out,15,14.0,1.0,1.0,107.14,Gujarat Titans,1st Match (N),Ahmedabad,March 31
15,Rashid Khan,7,not out,10,3.0,1.0,1.0,333.33,Gujarat Titans,1st Match (N),Ahmedabad,March 31
16,Prabhsimran Singh,1,c †Rahmanullah Gurbaz b Southee,23,12.0,2.0,2.0,191.66,Punjab Kings,2nd Match (D/N),Mohali,April 01
17,Shikhar Dhawan (c),2,b Varun,40,29.0,6.0,0.0,137.93,Punjab Kings,2nd Match (D/N),Mohali,April 01
18,Bhanuka Rajapaksa,3,c Singh b Yadav,50,32.0,5.0,2.0,156.25,Punjab Kings,2nd Match (D/N),Mohali,April 01
19,Jitesh Sharma †,4,c Yadav b Southee,21,11.0,1.0,2.0,190.9,Punjab Kings,2nd Match (D/N),Mohali,April 01

In [61]:
df_batting['out_notout']= np.where(df_batting['out_notout']=='not out',df_batting['out_notout'],'out')
df_batting.head(30)

,batsmen,Batting Pos,out_notout,runs,balls,fours,sixes,sr,team,Match_id,Ground,Date
0,Devon Conway,1,out,1,6.0,0.0,0.0,16.66,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
1,Ruturaj Gaikwad,2,out,92,50.0,4.0,9.0,184,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
2,Moeen Ali,3,out,23,17.0,4.0,1.0,135.29,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
3,Ben Stokes,4,out,7,6.0,1.0,0.0,116.66,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
4,Ambati Rayudu,5,out,12,12.0,0.0,1.0,100,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
5,Shivam Dube,6,out,19,18.0,0.0,1.0,105.55,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
6,Ravindra Jadeja,7,out,1,2.0,0.0,0.0,50,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
7,MS Dhoni (c)†,8,not out,14,7.0,1.0,1.0,200,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
8,Mitchell Santner,9,not out,1,3.0,0.0,0.0,33.33,Chennai Super Kings,1st Match (N),Ahmedabad,March 31
9,Wriddhiman Saha †,1,out,25,16.0,2.0,2.0,156.25,Gujarat Titans,1st Match (N),Ahmedabad,March 31
10,Shubman Gill,2,out,63,36.0,6.0,3.0,175,Gujarat Titans,1st Match (N),Ahmedabad,March 31
11,Sai Sudharsan,3,out,22,17.0,3.0,0.0,129.41,Gujarat Titans,1st Match (N),Ahmedabad,March 31
12,Hardik Pandya (c),4,out,8,11.0,0.0,0.0,72.72,Gujarat Titans,1st Match (N),Ahmedabad,March 31
13,Vijay Shankar,5,out,27,21.0,2.0,1.0,128.57,Gujarat Titans,1st Match (N),Ahmedabad,March 31
14,Rahul Tewatia,6,not out,15,14.0,1.0,1.0,107.14,Gujarat Titans,1st Match (N),Ahmedabad,March 31
15,Rashid Khan,7,not out,10,3.0,1.0,1.0,333.33,Gujarat Titans,1st Match (N),Ahmedabad,March 31
16,Prabhsimran Singh,1,out,23,12.0,2.0,2.0,191.66,Punjab Kings,2nd Match (D/N),Mohali,April 01
17,Shikhar Dhawan (c),2,out,40,29.0,6.0,0.0,137.93,Punjab Kings,2nd Match (D/N),Mohali,April 01
18,Bhanuka Rajapaksa,3,out,50,32.0,5.0,2.0,156.25,Punjab Kings,2nd Match (D/N),Mohali,April 01
19,Jitesh Sharma †,4,out,21,11.0,1.0,2.0,190.9,Punjab Kings,2nd Match (D/N),Mohali,April 01
20,Sikandar Raza,5,out,16,13.0,1.0,1.0,123.07,Punjab Kings,2nd Match (D/N),Mohali,April 01
21,Sam Curran,6,not out,26,17.0,0.0,2.0,152.94,Punjab Kings,2nd Match (D/N),Mohali,April 01
22,M Shahrukh Khan,7,not out,11,7.0,2.0,0.0,157.14,Punjab Kings,2nd Match (D/N),Mohali,April 01
23,Mandeep Singh,1,out,2,4.0,0.0,0.0,50,Kolkata Knight Riders,2nd Match (D/N),Mohali,April 01
24,Rahmanullah Gurbaz †,2,out,22,16.0,3.0,1.0,137.5,Kolkata Knight Riders,2nd Match (D/N),Mohali,April 01
25,Anukul Roy,3,out,4,5.0,1.0,0.0,80,Kolkata Knight Riders,2nd Match (D/N),Mohali,April 01
26,Venkatesh Iyer,4,out,34,28.0,3.0,1.0,121.42,Kolkata Knight Riders,2nd Match (D/N),Mohali,April 01
27,Nitish Rana (c),5,out,24,17.0,3.0,1.0,141.17,Kolkata Knight Riders,2nd Match (D/N),Mohali,April 01
28,Rinku Singh,6,out,4,4.0,0.0,0.0,100,Kolkata Knight Riders,2nd Match (D/N),Mohali,April 01
29,Andre Russell,7,out,35,19.0,3.0,2.0,184.21,Kolkata Knight Riders,2nd Match (D/N),Mohali,April 01

In [63]:
df_batting['Match_id'] = df_batting['Match_id'].str.replace(r'^(Q\w+)\s(.*)', r'\1 \2', regex=True)
df_batting['Match_id'] = df_batting['Match_id'].str.replace(r'^(\w+)\s(.*)', r'\1', regex=True)

df_batting.head(30)

,batsmen,Batting Pos,out_notout,runs,balls,fours,sixes,sr,team,Match_id,Ground,Date
0,Devon Conway,1,out,1,6.0,0.0,0.0,16.66,Chennai Super Kings,1st,Ahmedabad,March 31
1,Ruturaj Gaikwad,2,out,92,50.0,4.0,9.0,184,Chennai Super Kings,1st,Ahmedabad,March 31
2,Moeen Ali,3,out,23,17.0,4.0,1.0,135.29,Chennai Super Kings,1st,Ahmedabad,March 31
3,Ben Stokes,4,out,7,6.0,1.0,0.0,116.66,Chennai Super Kings,1st,Ahmedabad,March 31
4,Ambati Rayudu,5,out,12,12.0,0.0,1.0,100,Chennai Super Kings,1st,Ahmedabad,March 31
5,Shivam Dube,6,out,19,18.0,0.0,1.0,105.55,Chennai Super Kings,1st,Ahmedabad,March 31
6,Ravindra Jadeja,7,out,1,2.0,0.0,0.0,50,Chennai Super Kings,1st,Ahmedabad,March 31
7,MS Dhoni (c)†,8,not out,14,7.0,1.0,1.0,200,Chennai Super Kings,1st,Ahmedabad,March 31
8,Mitchell Santner,9,not out,1,3.0,0.0,0.0,33.33,Chennai Super Kings,1st,Ahmedabad,March 31
9,Wriddhiman Saha †,1,out,25,16.0,2.0,2.0,156.25,Gujarat Titans,1st,Ahmedabad,March 31
10,Shubman Gill,2,out,63,36.0,6.0,3.0,175,Gujarat Titans,1st,Ahmedabad,March 31
11,Sai Sudharsan,3,out,22,17.0,3.0,0.0,129.41,Gujarat Titans,1st,Ahmedabad,March 31
12,Hardik Pandya (c),4,out,8,11.0,0.0,0.0,72.72,Gujarat Titans,1st,Ahmedabad,March 31
13,Vijay Shankar,5,out,27,21.0,2.0,1.0,128.57,Gujarat Titans,1st,Ahmedabad,March 31
14,Rahul Tewatia,6,not out,15,14.0,1.0,1.0,107.14,Gujarat Titans,1st,Ahmedabad,March 31
15,Rashid Khan,7,not out,10,3.0,1.0,1.0,333.33,Gujarat Titans,1st,Ahmedabad,March 31
16,Prabhsimran Singh,1,out,23,12.0,2.0,2.0,191.66,Punjab Kings,2nd,Mohali,April 01
17,Shikhar Dhawan (c),2,out,40,29.0,6.0,0.0,137.93,Punjab Kings,2nd,Mohali,April 01
18,Bhanuka Rajapaksa,3,out,50,32.0,5.0,2.0,156.25,Punjab Kings,2nd,Mohali,April 01
19,Jitesh Sharma †,4,out,21,11.0,1.0,2.0,190.9,Punjab Kings,2nd,Mohali,April 01
20,Sikandar Raza,5,out,16,13.0,1.0,1.0,123.07,Punjab Kings,2nd,Mohali,April 01
21,Sam Curran,6,not out,26,17.0,0.0,2.0,152.94,Punjab Kings,2nd,Mohali,April 01
22,M Shahrukh Khan,7,not out,11,7.0,2.0,0.0,157.14,Punjab Kings,2nd,Mohali,April 01
23,Mandeep Singh,1,out,2,4.0,0.0,0.0,50,Kolkata Knight Riders,2nd,Mohali,April 01
24,Rahmanullah Gurbaz †,2,out,22,16.0,3.0,1.0,137.5,Kolkata Knight Riders,2nd,Mohali,April 01
25,Anukul Roy,3,out,4,5.0,1.0,0.0,80,Kolkata Knight Riders,2nd,Mohali,April 01
26,Venkatesh Iyer,4,out,34,28.0,3.0,1.0,121.42,Kolkata Knight Riders,2nd,Mohali,April 01
27,Nitish Rana (c),5,out,24,17.0,3.0,1.0,141.17,Kolkata Knight Riders,2nd,Mohali,April 01
28,Rinku Singh,6,out,4,4.0,0.0,0.0,100,Kolkata Knight Riders,2nd,Mohali,April 01
29,Andre Russell,7,out,35,19.0,3.0,2.0,184.21,Kolkata Knight Riders,2nd,Mohali,April 01

In [64]:
df_bowling = pd.read_csv('/content/IPL_Bowling_figures.csv')

df_bowling.head()

,selection1_Bowler_name,selection1_Bowler_overs,selection1_Bowler_Runs,selection1_Bowler_wickets,selection1_Bowler_maidens,selection1_Bowler_Economy,selection1_Bowler_Dot_balls,selection1_Bowler_Fours,selection1_Bowler_Sixes,selection1_Bowler_wide_balls,selection1_Bowler_No_balls,selection1_Bowler_Match_no,selection1_Bowler_Team
0,Mohammed Shami,4.0,29.0,2,0.0,7.25,13.0,2.0,2.0,0.0,1.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
1,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hardik Pandya,3.0,28.0,0,0.0,9.33,6.0,2.0,2.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
3,Josh Little,4.0,41.0,1,0.0,10.25,10.0,4.0,3.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
4,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:

df_bowling.rename({'selection1_Bowler_name':'bowler', 'selection1_Bowler_overs':'overs','selection1_Bowler_Runs':'runs', 'selection1_Bowler_wickets':'wickets', 'selection1_Bowler_Fours':'fours', 'selection1_Bowler_Sixes':'sixes', 'selection1_Bowler_Economy':'economy', 'selection1_Bowler_Team':'team', 'selection1_Bowler_Match_no':'Match_id', 'selection1_Bowler_No_balls':'no_balls', 'selection1_Bowler_wide_balls':'wide_balls', 'selection1_Bowler_maidens':'maidens', 'selection1_Bowler_Dot_balls':'dot_balls' }, axis=1, inplace = True)
df_bowling.head(20)

,bowler,overs,runs,wickets,maidens,economy,dot_balls,fours,sixes,wide_balls,no_balls,Match_id,team
0,Mohammed Shami,4.0,29.0,2,0.0,7.25,13.0,2.0,2.0,0.0,1.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
1,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hardik Pandya,3.0,28.0,0,0.0,9.33,6.0,2.0,2.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
3,Josh Little,4.0,41.0,1,0.0,10.25,10.0,4.0,3.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
4,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Rashid Khan,4.0,26.0,2,0.0,6.50,10.0,2.0,1.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
6,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alzarri Joseph,4.0,33.0,2,0.0,8.25,8.0,0.0,3.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
8,Yash Dayal,1.0,14.0,0,0.0,14.00,2.0,0.0,2.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
9,Deepak Chahar,4.0,29.0,0,0.0,7.25,9.0,1.0,2.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
10,Tushar Deshpande,3.2,51.0,1,0.0,15.30,5.0,4.0,4.0,1.0,1.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
11,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Rajvardhan Hangargekar,4.0,36.0,3,0.0,9.00,10.0,4.0,1.0,3.0,1.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
13,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Mitchell Santner,4.0,32.0,0,0.0,8.00,7.0,5.0,0.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
15,Ravindra Jadeja,4.0,28.0,1,0.0,7.00,9.0,1.0,1.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
16,Umesh Yadav,4.0,27.0,1,0.0,6.75,11.0,2.0,1.0,0.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Kolkata Knight Riders
17,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Tim Southee,4.0,54.0,2,0.0,13.50,7.0,6.0,3.0,0.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Kolkata Knight Riders
19,See all photos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:

to_drop = df_bowling[df_bowling['bowler'].str.contains('See all photos', na=False)].index
df_bowling = df_bowling.drop(to_drop)
df_bowling = df_bowling.reset_index(drop=True)
df_bowling.head(20)

,bowler,overs,runs,wickets,maidens,economy,dot_balls,fours,sixes,wide_balls,no_balls,Match_id,team
0,Mohammed Shami,4.0,29.0,2,0.0,7.25,13.0,2.0,2.0,0.0,1.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
1,Hardik Pandya,3.0,28.0,0,0.0,9.33,6.0,2.0,2.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
2,Josh Little,4.0,41.0,1,0.0,10.25,10.0,4.0,3.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
3,Rashid Khan,4.0,26.0,2,0.0,6.50,10.0,2.0,1.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
4,Alzarri Joseph,4.0,33.0,2,0.0,8.25,8.0,0.0,3.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
5,Yash Dayal,1.0,14.0,0,0.0,14.00,2.0,0.0,2.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Gujarat Titans
6,Deepak Chahar,4.0,29.0,0,0.0,7.25,9.0,1.0,2.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
7,Tushar Deshpande,3.2,51.0,1,0.0,15.30,5.0,4.0,4.0,1.0,1.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
8,Rajvardhan Hangargekar,4.0,36.0,3,0.0,9.00,10.0,4.0,1.0,3.0,1.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
9,Mitchell Santner,4.0,32.0,0,0.0,8.00,7.0,5.0,0.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
10,Ravindra Jadeja,4.0,28.0,1,0.0,7.00,9.0,1.0,1.0,0.0,0.0,"1st Match (N), Ahmedabad, March 31, 2023,\nInd...",Chennai Super Kings
11,Umesh Yadav,4.0,27.0,1,0.0,6.75,11.0,2.0,1.0,0.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Kolkata Knight Riders
12,Tim Southee,4.0,54.0,2,0.0,13.50,7.0,6.0,3.0,0.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Kolkata Knight Riders
13,Sunil Narine,4.0,40.0,1,0.0,10.00,8.0,3.0,2.0,1.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Kolkata Knight Riders
14,Varun Chakravarthy,4.0,26.0,1,0.0,6.50,10.0,2.0,1.0,1.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Kolkata Knight Riders
15,Shardul Thakur,4.0,43.0,0,0.0,10.75,7.0,4.0,2.0,0.0,1.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Kolkata Knight Riders
16,Sam Curran,3.0,38.0,1,0.0,12.66,4.0,3.0,3.0,0.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Punjab Kings
17,Arshdeep Singh,3.0,19.0,3,0.0,6.33,10.0,2.0,1.0,0.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Punjab Kings
18,Nathan Ellis,3.0,27.0,1,0.0,9.00,8.0,2.0,1.0,0.0,2.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Punjab Kings
19,Sikandar Raza,3.0,25.0,1,0.0,8.33,5.0,3.0,0.0,1.0,0.0,"2nd Match (D/N), Mohali, April 01, 2023,\nIndi...",Punjab Kings

In [69]:

df_bowling['Match_id'] = df_bowling['Match_id'].str.replace(r'^(Q\w+)\s(.*)', r'\1 \2', regex=True)
df_bowling['Match_id'] = df_bowling['Match_id'].str.replace(r'^(\w+)\s(.*)', r'\1', regex=True)

df_bowling.head(30)

,bowler,overs,runs,wickets,maidens,economy,dot_balls,fours,sixes,wide_balls,no_balls,Match_id,team
0,Mohammed Shami,4.0,29.0,2,0.0,7.25,13.0,2.0,2.0,0.0,1.0,1st,Gujarat Titans
1,Hardik Pandya,3.0,28.0,0,0.0,9.33,6.0,2.0,2.0,0.0,0.0,1st,Gujarat Titans
2,Josh Little,4.0,41.0,1,0.0,10.25,10.0,4.0,3.0,0.0,0.0,1st,Gujarat Titans
3,Rashid Khan,4.0,26.0,2,0.0,6.50,10.0,2.0,1.0,0.0,0.0,1st,Gujarat Titans
4,Alzarri Joseph,4.0,33.0,2,0.0,8.25,8.0,0.0,3.0,0.0,0.0,1st,Gujarat Titans
5,Yash Dayal,1.0,14.0,0,0.0,14.00,2.0,0.0,2.0,0.0,0.0,1st,Gujarat Titans
6,Deepak Chahar,4.0,29.0,0,0.0,7.25,9.0,1.0,2.0,0.0,0.0,1st,Chennai Super Kings
7,Tushar Deshpande,3.2,51.0,1,0.0,15.30,5.0,4.0,4.0,1.0,1.0,1st,Chennai Super Kings
8,Rajvardhan Hangargekar,4.0,36.0,3,0.0,9.00,10.0,4.0,1.0,3.0,1.0,1st,Chennai Super Kings
9,Mitchell Santner,4.0,32.0,0,0.0,8.00,7.0,5.0,0.0,0.0,0.0,1st,Chennai Super Kings
10,Ravindra Jadeja,4.0,28.0,1,0.0,7.00,9.0,1.0,1.0,0.0,0.0,1st,Chennai Super Kings
11,Umesh Yadav,4.0,27.0,1,0.0,6.75,11.0,2.0,1.0,0.0,0.0,2nd,Kolkata Knight Riders
12,Tim Southee,4.0,54.0,2,0.0,13.50,7.0,6.0,3.0,0.0,0.0,2nd,Kolkata Knight Riders
13,Sunil Narine,4.0,40.0,1,0.0,10.00,8.0,3.0,2.0,1.0,0.0,2nd,Kolkata Knight Riders
14,Varun Chakravarthy,4.0,26.0,1,0.0,6.50,10.0,2.0,1.0,1.0,0.0,2nd,Kolkata Knight Riders
15,Shardul Thakur,4.0,43.0,0,0.0,10.75,7.0,4.0,2.0,0.0,1.0,2nd,Kolkata Knight Riders
16,Sam Curran,3.0,38.0,1,0.0,12.66,4.0,3.0,3.0,0.0,0.0,2nd,Punjab Kings
17,Arshdeep Singh,3.0,19.0,3,0.0,6.33,10.0,2.0,1.0,0.0,0.0,2nd,Punjab Kings
18,Nathan Ellis,3.0,27.0,1,0.0,9.00,8.0,2.0,1.0,0.0,2.0,2nd,Punjab Kings
19,Sikandar Raza,3.0,25.0,1,0.0,8.33,5.0,3.0,0.0,1.0,0.0,2nd,Punjab Kings
20,Rishi Dhawan,1.0,15.0,0,0.0,15.00,2.0,2.0,1.0,0.0,0.0,2nd,Punjab Kings
21,Rahul Chahar,2.0,12.0,1,0.0,6.00,5.0,0.0,1.0,0.0,0.0,2nd,Punjab Kings
22,Harpreet Brar,1.0,7.0,0,0.0,7.00,3.0,1.0,0.0,0.0,0.0,2nd,Punjab Kings
23,Khaleel Ahmed,4.0,30.0,2,0.0,7.50,15.0,3.0,2.0,1.0,0.0,3rd,Delhi Capitals
24,Mukesh Kumar,4.0,34.0,0,0.0,8.50,5.0,0.0,2.0,1.0,0.0,3rd,Delhi Capitals
25,Chetan Sakariya,4.0,53.0,2,0.0,13.25,8.0,1.0,6.0,3.0,0.0,3rd,Delhi Capitals
26,Axar Patel,4.0,38.0,1,0.0,9.50,8.0,1.0,3.0,0.0,0.0,3rd,Delhi Capitals
27,Kuldeep Yadav,4.0,35.0,1,0.0,8.75,7.0,0.0,3.0,0.0,0.0,3rd,Delhi Capitals
28,Kyle Mayers,1.0,7.0,0,0.0,7.00,3.0,1.0,0.0,1.0,0.0,3rd,Lucknow Super Giants
29,Jaydev Unadkat,3.0,39.0,0,0.0,13.00,3.0,5.0,0.0,2.0,0.0,3rd,Lucknow Super Giants

In [71]:
df_player_with_img = pd.read_csv('/content/IPL_Player_List.csv')

df_player_with_img.head()

,Player Name,Player Type,Batting Style,Bowling Style,Image,Team
0,MS Dhoni,Wicketkeeper Batter,Right hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
1,Akash Singh,Bowler,Right hand Bat,Left arm Medium fast,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
2,Moeen Ali,Batting Allrounder,Left hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
3,Bhagath Varma,Bowling Allrounder,Right hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
4,Deepak Chahar,Bowler,Right hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings

In [72]:
df_player_with_img.rename({'Player Name':'player', 'Player Type':'role','Batting Style':'batting_style', 'Bowling Style':'bowling_style', 'Team':'team'}, axis=1, inplace = True)
df_player_with_img.head(20)

,player,role,batting_style,bowling_style,Image,team
0,MS Dhoni,Wicketkeeper Batter,Right hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
1,Akash Singh,Bowler,Right hand Bat,Left arm Medium fast,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
2,Moeen Ali,Batting Allrounder,Left hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
3,Bhagath Varma,Bowling Allrounder,Right hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
4,Deepak Chahar,Bowler,Right hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
5,Devon Conway,Wicketkeeper Batter,Left hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
6,Tushar Deshpande,Bowler,Left hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
7,Shivam Dube,Allrounder,Left hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
8,Ruturaj Gaikwad,Batter,Right hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
9,Rajvardhan Hangargekar,Bowling Allrounder,Right hand Bat,Right arm Fast medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
10,Ravindra Jadeja,Allrounder,Left hand Bat,Slow Left arm Orthodox,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
11,Sisanda Magala,Bowler,Right hand Bat,Right arm Fast medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
12,Ajay Mandal,Allrounder,Left hand Bat,Slow Left arm Orthodox,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
13,Matheesha Pathirana,Bowler,Right hand Bat,Right arm Fast,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
14,Dwaine Pretorius,Bowling Allrounder,Right hand Bat,Right arm Medium fast,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
15,Ajinkya Rahane,Top order Batter,Right hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
16,Shaik Rasheed,Batter,Right hand Bat,Legbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
17,Ambati Rayudu,Middle order Batter,Right hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
18,Mitchell Santner,Bowling Allrounder,Left hand Bat,Slow Left arm Orthodox,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
19,Subhranshu Senapati,Top order Batter,Right hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings

In [73]:
df_player_without_img = df_player_with_img.drop(df_player_with_img.columns[-2], axis=1)

df_player_without_img.head()

,player,role,batting_style,bowling_style,team
0,MS Dhoni,Wicketkeeper Batter,Right hand Bat,Right arm Medium,Chennai Super Kings
1,Akash Singh,Bowler,Right hand Bat,Left arm Medium fast,Chennai Super Kings
2,Moeen Ali,Batting Allrounder,Left hand Bat,Right arm Offbreak,Chennai Super Kings
3,Bhagath Varma,Bowling Allrounder,Right hand Bat,Right arm Offbreak,Chennai Super Kings
4,Deepak Chahar,Bowler,Right hand Bat,Right arm Medium,Chennai Super Kings